<mat-toolbar color="primary">
  <button mat-icon-button (click)="toggleSidebar()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="fw-bold">DASHBOARD GROUPLUCKY</span>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="mostrarSidebar">
    <app-nav-list></app-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="dashboard-content">
      <app-search-field (search)="performSearch($event)"></app-search-field>

    <!--   <app-table [dataSource]="dataSource"></app-table> -->
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
