<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- Definición de las columnas de la tabla -->
  <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
    <mat-header-cell *matHeaderCellDef> {{ column }} </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <!-- Mostrar el valor correspondiente a cada columna -->
     <!-- Mostrar el valor correspondiente a cada columna -->
<ng-container *ngIf="column !== 'Acciones'; else ifActions; else otherColumn">
  {{ element[column.toLowerCase()] }}
</ng-container>
<ng-template #ifActions>
  <!-- Aquí puedes colocar los íconos de acciones sin funcionalidad -->
  <button mat-icon-button><mat-icon class="edit-icon">edit</mat-icon></button> <!-- Botón de editar -->
  <button mat-icon-button><mat-icon class="delete-icon">delete</mat-icon></button> <!-- Botón de eliminar -->
  <button mat-icon-button><mat-icon>more_vert</mat-icon></button>
</ng-template>
<ng-template #otherColumn>
  {{ element[column] }}
</ng-template>
    </mat-cell>
  </ng-container>

  <!-- Encabezado de la tabla -->
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

  <!-- Fila de datos de la tabla -->
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
