.custom-card {
  width: 400px; /* Ancho personalizado */
  margin: 20px auto; /* Centra la tarjeta horizontalmente */
  border-radius: 15px; /* Borde redondeado */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
}

.card-body {
  padding: 20px; /* Espacio interno */
}

.card-title {
  font-size: 24px; /* Tamaño de fuente para el título */
}

.card-subtitle {
  font-size: 18px; /* Tamaño de fuente para el subtítulo */
}

.card-text {
  margin-bottom: 10px; /* Espacio entre los elementos de texto */
}

.btn-primary {
  width: 100%; /* Botón ocupa todo el ancho de la tarjeta */
}
.field-value {
  font-weight: bold; /* Hace que el texto sea negrita */
}
